* {
  margin: 0;
  padding: 0;
}

.grid {
  border: 1px solid;

  .row {
    .cell {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
  }
}
