!!!
%html{html_attrs()}
  %head
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    -#<link rel="stylesheet" href="/themes/Miner.min.css" />
    -#<link rel="stylesheet" href="/themes/jquery.mobile.structure-1.2.0.min.css" />
    <link rel="stylesheet" type="text/css" href="css/game.css" />
    <script src="third-party-js/jquery-2.1.3.min.js"></script>
    -#<script src="third-party-js/jquery.mobile-1.2.0.min.js"></script>
    %script(type="text/javascript" src="third-party-js/lodash.min.js")
    %script(type="text/javascript" src="third-party-js/backbone-min.js")
    %script(type="text/javascript" src="miner-generated.js")

  %body
    #game
      .left-pane.pane
      .pane(style="width: 650px;")
        .world
      .right-pane.pane
        .row
          .label day 
          .value.day
        .row
          .label zeny
          .value.money
        .row
          .label morale
          .value.morale
        .row
          .label wage
          .value.wages
        .row
          .label ore
          .value.ore
            %span.ore-ticker
            %button.sell-ore Sell
        .row
          .label mining
          .value.mining-saturation
        .row
          .label ops
          .value.operations
        .row
          .label workers
          .value.worker-capacity

        %hr

        .build-panel
          %select
            %option(value="-1") Build some shit
          %button.done-building Done Building

        %hr

        .workers
          %table
            %tr
              %th name
              %th mining
              %th tech
              %th ops
              %th morale

          %button.interview Interview (100z, max 3 / day)
          .interview-stats
            .row
              .label name
              .value.name
            .row
              .label gender
              .value.gender
            .row
              .label mining
              .value.mining
            .row
              .label tech
              .value.tech
            .row
              .label ops
              .value.ops
            %button.pass Pass
            %button.hire Hire! 

        %hr

        %button.advance-to-next-day See what tomorrow brings

        %button.new-game New Game
